* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


body {
    background-color: white;
}

.contenedortitulos {
    background-color: black;
}

.titulos {
    text-align: center;
    color:white;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


h2 {
    color: #ED7D3A;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    
}

h3 {
    color: black;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;

}

.index-container {
    border-top: 60px solid#202020;
       
}


header {
    border-bottom: 5px solid #ED7D3A;
}

header .open,
header .close {
    display: none;
}
/* ---------------------- INDEX ------------------------ */


header h1 a {
    font-family: 'Rokkitt', serif;
    font-size: 90px;
    font-weight: 400;
    color: #ED7D3A;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    line-height: 15px;
    text-shadow: 3px 2px 1px black;
        
}

.logo {
    width: 80%;
    margin: auto;
    padding: 3rem;
    padding-top: 5rem;
    
            
}

.logo h1 a:hover {
    font-family: 'Rokkitt', serif;
    font-size: 90px;
    color: #ED7D3A;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    line-height: 15px;
    text-shadow: 3px 2px 1px black;
    
}

header ul {
    display: flex;
    list-style: none;
                  
}

header span {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    text-shadow: none;
}

header h1 {
    line-height: 95%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
nav ul li a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
    border-left: 1px solid black;
    padding: 5px;
    
    
        
}

nav ul li a:hover {
    background-color: black;
    color: white;
    text-decoration-line: underline;
    transition: 0.5s;
} 


.eslogan {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    opacity: 0.6;
}


.fondoindx h2 {
    color: white;    
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.fondoindx {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.ad1 {
    background: url(Imagenes/Index/kitchen-1940175_1920.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad2 {
    background: url(Imagenes/Index/furniture-998265_1920.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ad3 {
    background: url(Imagenes/Index/pexels-medhat-ayad-439227.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.index-container .carousel-caption {
    bottom: 43%;
}



/* -------------------- NOSOTROS --------------------*/


.nosotros {
    display: flex;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.5;
    font-size: 45px;
    background-image: url(imagenes/Nosotros/OIHR970.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding: 10rem 10rem;
    font-weight: 400;
    text-transform: uppercase;
        
}

.nosotros p {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    opacity: 0.6;
}



/*---------------------- MUEBLES-------------------- */

.contenedor1 {
    margin: auto;
    width: 80%;
    max-width: 2000px;
    text-align: center;    
}

.contenedor1 ul li {
    list-style: none;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
}

.contenedor1 section {
    padding: 15px;
}

.contenedor1 img {
    width: 400px;
    height: 400px;
    transition: 0.5s;
}

.contenedor1 ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.imagenes {
    margin-top: 50px;
}

.imagenes p {
    margin-top: 20px;
}

.imagenes ul li :hover {
    transform: scale(1.05);
    border: 1px solid #202020
}




/* ------------------ABERTURAS----------------------*/


.contenedor2 ul li {
    list-style: none;
    color: white;
    font-size: 20px;
}

.contenedor2 section {
    padding: 15px;
}



/* ------------------ FORMULARIO ------------------- */

form {
    color: #ED7D3A;
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;

}

form input {
    padding: 5px;
    width: 95%;
    margin-bottom: 10px;
}

.tilde {
    width: auto;
}

form textarea {
    width: 95%;
    padding: 5px;
}

.consultasobre {
    display: inline-block;
}

.consultasobre p {
    display: inline-block;
    margin-right: 10px;
}

/* ------------------ FOOTER ------------------- */

footer {
    background-color: #202020;
    color: white;
    padding: 60px;
}

footer h2 {
    font-size: 30px;
}

.contenedor-one {
    display: flex;
    width: 80%;
    align-content: center;
    justify-content: space-between;
    margin: auto;
    color: #c7c7c7;
    
}

.colum1 p {
    margin-top: 10px;
    font-size: 15px;
}

.colum2 ul {
    list-style: none;
    font-size: 15px;
}

.colum2 ul li {
    margin-top: 15px;
}

.colum2 ul li a{
    color: #c7c7c7;
}

.colum3 ul {
    list-style: none;
    font-size: 15px;
}

.colum3 ul li {
    margin-top: 15px;
}

.colum3 ul li a{
    color: #c7c7c7;
}

 
.contenedor-two {
    width: 80%;
    margin: auto;
    color: #c7c7c7;
}

.derechos {
    margin-top: 60px;   
}

.derechos p {
    text-align: right;
}


@media (max-width: 678px) {
    header nav ul {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 1;
    }
    header .open {
        display: block;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        padding: 1rem;
        padding-top: 4rem;
        align-items: center;
    }
    #nav:target {
        display: block;
    }
    header h1 a {
        font-size: 53px;
    }
    header span {
        font-size: 17px;
    }
    .contenedor-one {
        flex-direction: column;
    }
    footer h2 {
        font-size: 20px;
    }
    .colum1 p {
        font-size: 13px;
    }
    .colum2 ul li a {
        font-size: 13px;
    }
    .colum3 ul li a {
        font-size: 13px;
    }
    .derechos p {
        font-size: 13px;
    }
}